@import url('./main.css');
.bst-control-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.word-wrap-break{
    word-wrap: break-word;
}
.bst-column-div{
    display: flex;
    flex-direction: column;
}
.lower-border{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 0.4rem;
}
.control-label{
    white-space: nowrap;
    width: 180px;
}
.bst-input{
    border-bottom: 1px solid var(--text-color);
}
.bst-btn{
    white-space: nowrap;
    font-family: var(--font-family);
    min-width: 180px;
    margin-left: 2rem;
}
#btn-show-traversal{
    margin-left: 0px;
}
.bst-main-control-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    border: 2px solid var(--text-color);
    padding: 2rem;
}
#input-balanced::placeholder{
}
.input-balanced-color::placeholder{
    color: #08FF83 !important;
}
.input-unbalanced-color::placeholder{
    color: #FF1E8E !important;
}