@import url('./main.css');
.bst-control-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.word-wrap-break{
    word-wrap: break-word;
}
.bst-column-div{
    display: flex;
    flex-direction: column;
}
.lower-border{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 0.4rem;
}
.control-label{
    white-space: nowrap;
    width: 180px;
}
.bst-input{
    border-bottom: 1px solid var(--text-color);
}
.bst-btn{
    white-space: nowrap;
    font-family: var(--font-family);
    min-width: 180px;
    margin-left: 2rem;
}
#btn-show-traversal{
    margin-left: 0px;
}
.bst-main-control-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    border: 2px solid var(--text-color);
    padding: 2rem;
}


.linked-list-main-control-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    border: 2px solid var(--text-color);
    padding: 2rem;
}
.linked-list-control-div{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.linked-list-remove-control-div,
.linked-list-insert-control-div{
    display: flex;
}
#input-remove-index-linked-list,
#input-insert-index-linked-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
#input-remove-value-linked-list,
#input-insert-value-linked-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.grid-1-2-1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.remove-ll-btn{
    white-space: nowrap;
    font-family: var(--font-family);
    min-width: 130px;
    margin: 0px;
}
.remove-ll-btn-2{
    white-space: nowrap;
    font-family: var(--font-family);
    min-width: 130px;
    margin: 0px;
}
.btn-margin-left{
    margin-left: 2rem;
}
#btn-new-linked-list,
#btn-insert-linked-list{
    margin-left: 2rem;
}
.ll-remove-input,
.ll-insert-input{
    display: flex;
    text-align: center;
}
.linked-list-display-div{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}
.ll-red{
    color: #800000 !important;
}
.linked-list-print{
    display: flex;
    align-items: flex-end !important;
    white-space: pre-wrap;
    flex: 0 0 auto;
    line-height: 1.8;
    font-size: 20px !important;
}





.input-balanced-color::placeholder{
    color: #08FF83 !important;
}
.input-unbalanced-color::placeholder{
    color: #FF1E8E !important;
}