@import url('./main.css');
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: transparent;
  border-radius: 30px;
}

::-webkit-scrollbar
{
  width: 10px;
  border-radius: 30px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
                        var(--scrollbar-0) 0%,
                        var(--scrollbar-100) 100%);
}