@import url('./main.css');
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: transparent;
  border-radius: 30px;
}

::-webkit-scrollbar
{
  width: 10px;
  border-radius: 30px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
                        #E9FFCF 0%,
                        #C7FF8D 50%,
                        #A5FF4B 51%,
                        #83FF08 100%);
}